/* Schrägstrich/Stern markiert Kommentartext, der vom Computer übersprungen wird */

tei-text {
	display:block; /* display: Anzeigen als Block (Blöcke werden übereinander "gestapelt"). */
	width:25em; /* width: Breite. 1em ist die Breite eines "m". */
	margin:1em 0 auto; /* margin: Breite des Randes. Bei zwei aufeinanderfolgenden Angaben ist die erste Angabe für den Rand oben/unten, die zweite für den Rand links/rechts. "auto" bedeutet hier: der frei bleibende Platz wird gleichmäßig verteilt. Hier bleibt Platz, weil das Element eine feste Breite hat (width). */
}

/* Textabschnitte */

tei-head {
	display:block;
	text-align:center; /* text-align: Ausrichtung (hier zentriert). */
	font-size:2em;/* font-size: Schriftgröße (hier etwas größer). */
	margin:0.5em 0;
}

tei-head {
	display:block;
	text-align:center;
	margin:0.5em 0;
}

tei-p {
	display:block;
	margin:0.5em 0;
}

/* Umbrüche: Seiten , Spalten, Zeilen */

tei-pb:before {
	display:block;
	text-align:center;
	content:"Seite "attr(nr);
	margin-top:0.5em;
	border-top:0.1em solid #bbb;
	font-family:sans-serif;
	padding:0.2em;
	font-size:0.75em;
	color:#bbb;
}

tei-cb:before {
	display:block;
	text-align:center;
	content:"Spalte "attr(nr);
	margin-top:0.5em;
	border-top:0.1em dotted #bbb;
	font-family:sans-serif;
	padding:0.2em;
	font-size:0.75em;
	color:#bbb;
}

tei-lb:before {
	display:block;
	color:#bbb;
}

/* Formatierung */

*[rend~="fett"] {
	/* "~=" heißt hier: "enthält", während "=" heißt: exakt gleich */
	/* auf diese weise kann mischen, z.B.: format="fett zentriert" */
	font-weight:bold; /* Schriftschnitt fett */
}

*[rend~="gesperrt"] {
	letter-spacing:0.2em; /* Letternabstand (Kerning oder Sperrung). */
	margin-left:0.1em; /* Abstands-Ausgleich am Anfang der Sperrung. */
	margin-right:-0.1em; /* Abstands-Ausgleich am Ende der Sperrung. */
}

*[rend~="zentriert"] {
	text-align:center;
}

/* Entitäten (Personen, Orte, Werke) */

tei-persName {
	text-decoration:underline 0.1em dotted #f66; /* text-decoration: "Verzierung" (hier: gepunktet unterstrichen rot). */
	
}

tei-placeName {
	text-decoration:underline 0.1em dotted #0c0; /* grün */
	display:inline;
}

tei-title {
	text-decoration:underline 0.1em dotted #f3f; /* violett */
	display:inline;
}

tei-date {
	text-decoration:underline 0.1em dotted #33f; /* blau */
	display:inline;
}

/* Text vom Herausgeber */

tei-note {
	font-family:sans-serif;
	color:#bbb;
}

tei-note:before {
	content:"[";
}
tei-note:after {
	content:"]";
}
