/* CETEIcean stylesheet */

html {
	background-color:#333;
	margin:0;
	padding:2em;
}

body {
	width:36em;
	background-color:#f0f0e8;
	display:block;
}

div {
	padding:0.5em 1em;
	margin:0;
}

/* TEI-Elemente */

tei-TEI {
}

tei-TEI tei-text {
	display:table;
	margin:0 auto;
}

tei-text > * {
	display:table-row;
}

/* Textabschnitte */

tei-text tei-head {
	margin:0.25em;
	padding:0;
	font-family:inherit;
}

tei-text tei-p {
	margin:0.25em;
	padding:0;
	text-indent:1em;
}

tei-text tei-list,
tei-text tei-listPerson {
	display:block;
	list-style-type:disc;
	list-style-position:outside;
	margin-left:1em;
}

tei-text tei-list tei-item,
tei-text tei-listPerson tei-person {
	display:list-item;
}

tei-text tei-list tei-head,
tei-text tei-listPerson tei-head {
	margin:0.25em;
	padding:0;	
}


/* Umbrüche: Seiten , Spalten, Zeilen */

tei-text tei-pb,
tei-text tei-cb {
	margin:0;
}

tei-text tei-pb:before,
tei-text tei-cb:before {
	text-align:left;
	font-family:arial, helvetica, sans-serif;
	font-size:0.75em;
	line-height:0.75em;
	color:#aaa;
	letter-spacing:0;
	text-indent:0;
	display:block;
}

tei-text tei-pb:before {
	content:"[Seite "attr(n)"]";
}

tei-text tei-cb:before {
	content:"[Spalte "attr(n)"]";
}

tei-text tei-p > tei-lb:after {
	content:'';
}

tei-text tei-p > tei-lb ~ tei-lb:after {
	content:'\a';
}

tei-text tei-pb tei-lb:after,
tei-text tei-cb tei-lb:after
{
	content:'' !important;
}

/* Formatierung */

tei-text *[rend~="klein"] {
	font-size:0.85rem
}

tei-text *[rend~="gross"] {
	font-size:1.3rem
}

tei-text *[rend~="fett"] {
	font-weight:bold;
}

tei-text *[rend~="gesperrt"] {
	letter-spacing:0.2em;
	margin-left:0.1em;
	margin-right:-0.1em;
}

tei-text *[rend~="antiqua"] {
	font-family:arial, helvetica, sans-serif;
}

tei-text *[rend~="zentriert"] {
	text-align:center;
}

tei-text *[rend~="rechts"] {
	text-align:right;
}

/* Entitäten (Personen, Orte, Werke) */

tei-text tei-persName {
	text-decoration:underline #f66 dotted 0.1em; /* rot */
}

tei-text tei-placeName {
	text-decoration:underline #0c0 dotted 0.1em; /* grün */
}

tei-text tei-title {
	text-decoration:underline #f3f dotted 0.1em; /* violett */
}

tei-text tei-date {
	text-decoration:underline #33f dotted 0.1em; /* blau */
}

/* Text vom Herausgeber */

tei-text tei-note[resp] {
	font-family:sans-serif;
	color:#bbb;
}
