/* CETEIcean stylesheet */

tei-text {
	width:25em;
}

/* Textabschnitte */

tei-text tei-head[type="titel"] {
	font-size:1.5em;
}

tei-body tei-head[type="untertitel"] {
	font-size:1.25em;
}

tei-p {
	display:block;
}

/* Umbrüche: Seiten , Spalten, Zeilen */

tei-pb:before {
	display:block;
	text-align:left;
	content:"Seite "attr(n);
	margin-top:0.5em;
	border-top:0.1em solid #bbb;
	font-family:sans-serif;
	padding:0.2em;
	font-size:0.75em;
	color:#bbb;
}

tei-cb:before {
	display:block;
	text-align:left;
	content:"Spalte "attr(n);
	margin-top:0.5em;
	border-top:0.1em dotted #bbb;
	font-family:sans-serif;
	padding:0.2em;
	font-size:0.75em;
	color:#bbb;
}

tei-lb:before {
	display:block;
	color:#bbb;
}

/* Formatierung */

*[rend~="fett"] {
	font-weight:bold;
}

*[rend~="gesperrt"] {
	letter-spacing:0.2em;
	margin-left:0.1em;
	margin-right:-0.1em;
}

*[rend~="zentriert"] {
	text-align:center;
}

/* Entitäten (Personen, Orte, Werke) */

tei-persName {
	text-decoration:underline 0.1em dotted #f66; /* rot */
	
}

tei-placeName {
	text-decoration:underline 0.1em dotted #0c0; /* grün */
	display:inline;
}

tei-title {
	text-decoration:underline 0.1em dotted #f3f; /* violett */
	display:inline;
}

tei-date {
	text-decoration:underline 0.1em dotted #33f; /* blau */
	display:inline;
}

/* Text vom Herausgeber */

tei-note {
	font-family:sans-serif;
	color:#bbb;
}

tei-note:before {
	content:"[";
}
tei-note:after {
	content:"]";
}
